h1{
  font-weight: bolder;
  text-align: center;
}
img{
  width: 150px;
  length: auto;
}
.boxed {
  border: 2px solid lack;
  padding: 4px;
  margin: 10px;
  background-color: violet;
  /*float: right;*/
}
