h1{
  font-weight: bolder;
  text-align: center;
  background-color: grey;
}
img{
  width: 150px;
  length: auto;
}
.boxed {
  border: 2px solid black;
  padding: 4px;
  margin: 10px;
  background-color: grey;
  /*float: right;*/
}
body{
  line-height:40px;
  
  background-color: #cccccc;
  background-size: cover;
}
.imgproj{
  background-image: url("images/skills.jpg");
}
